@import "src/variables.scss";

.countryCard {
  cursor: pointer;
  border-radius: 0.5rem;

  img {
    height: 20rem;
    width: 100%;
    object-fit: cover;
    border-radius: 0.5rem 0.5rem 0 0;
  }

  &__content {
    padding: 1.5rem;
    padding-top: 0.8rem;
  }
}
