.home {
  min-height: 100vh;

  &__utils {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3rem;

    @media screen and (max-width: 768px) {
      flex-direction: column;
    }

    &--search {
      position: relative;

      @media screen and (max-width: 768px) {
        width: 100%;
        margin-bottom: 3rem;
      }

      .ion {
        position: absolute;
        font-size: 2.5rem;
        top: 50%;
        left: 5%;
        transform: translateY(-50%);
        z-index: 9;
      }

      input {
        text-indent: 3rem;
      }
    }

    input,
    select {
      width: 30rem;
      padding: 1.2rem 1.5rem;

      @media screen and (max-width: 768px) {
        width: 100%;
      }
    }
  }

  &__countries {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 50px;

    @media screen and (max-width: 768px) {
      grid-template-columns: 1fr;
    }
  }
}
